body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    background: #000;
    color: #FFF;
    min-width: 350px;
}
body.noScroll {overflow: hidden;}

.pixelatedscaling {image-rendering: pixelated; image-rendering: -moz-crisp-edges;}
.pixelatedscaling img {-ms-interpolation-mode: nearest-neighbor;}

section {margin: 0 20px 20px; background: #111; padding: 15px;}
header {text-align: center; margin: 10px 0; font-size: 30px;}
h1 {margin: 0;}

.labelinput {width: 240px; display: inline-block; border-bottom: 1px solid #FFF;}
input, select {font-family: inherit; margin: 1px 0;}

table {display: inline-block; vertical-align: top;}
td {
    border: 1px solid #111;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
}
td[state] {cursor: pointer;}
td[state="0"] {opacity: 0.3;}
td[state="2"] {background-position: 0 -64px;}
td[state="3"] {background-position: 0 -128px;}
td[state="4"] {background-position: 0 -192px;}
td[state="5"] {background-position: 0 -256px;}
td[state="6"] {background-position: 0 -320px;}

.checkmark td[checkmark]:not(opacity100) {position: relative;}
.checkmark td[checkmark]:not(opacity100)::after {
    content: url("checkmark2.png");
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;
    height: 32px;
}

td.opacity100 {opacity: 1;}
.dragcontainer {height: 64px; width: 64px; overflow: hidden;}
.dragcontainer img {width: 64px;}
td.sidebutton {font-size: 46px; border-color: #FFF; font-weight: bold; text-align: center; cursor: pointer;}
td.sidebutton.add {background: #19B319;}
td.sidebutton.remove {background: #B31919;}
td.sidebutton.settings {background: #1966B3;}

#itemsidetable td {border-color: #FFF;}

#dungeontable {border-collapse: collapse;}
#dungeontable td:first-of-type {width: 200px; text-align: center;}
#dungeontable td {border-color: #FFF; width: 32px; height: 32px;}

#dungeontable input {background: transparent; border: none; color: inherit; font: inherit; padding-left: 15px; width: 40px;}

.miscitem {background: #222; border-radius: 5px; padding: 10px; display: inline-flex; width: 200px;}
.miscitem img {flex-shrink: 0;}
.miscitem input {
    width: 100%;
    margin-left: 10px;
    padding-left: 45px;
    background: transparent;
    color: inherit;
    font: inherit;
    font-size: 35px;
    border: none;
    border-left: 2px solid #444;
    outline: none;
}

.miscdungeon {background: #222; border-radius: 5px; padding: 10px; display: inline-block; width: 200px; text-align: center;}
.miscdungeon img {width: 32px;}
.miscdungeon h3 {border-bottom: 2px solid #444; margin: 0 0 10px; color: #DDD;}
.miscdungeon input {
    background: transparent;
    color: inherit;
    font: inherit;
    font-size: 20px;
    border: none;
    outline: none;
    vertical-align: top;
}

.button:hover {background: #2C2C2C;}
.button {background: #222; color: inherit; font: inherit; border: 0; padding: 3px 7px; margin-top: 25px; cursor: pointer;}
select {background: #222; color: inherit; font: inherit; border: 1px solid #444; padding: 0 2px; margin: 7px 0;}
input[type=range] {height: 11px;}

#message {text-align: center; font-size: 20px;}
#editbutton {
    background: linear-gradient(135deg, transparent 50%, #333 50%);
    border: 0;
    color: #FFF;
    font-weight: bold;
    font-family: inherit;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 100px;
    font-size: 35px;
    outline: none;
    cursor: pointer;
}
#editbutton:hover {background: linear-gradient(135deg, transparent 50%, #444 50%);}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
}
#overlay.hidden {display: none;}
#overlay section {margin: auto; padding: 25px;}

/* MAP TRACKER */

.maplocation[selected] {border-color: #FFF;}
.maplocation {
    width: 24px;
    height: 24px;
    position: absolute;
    background: #000;
    border: 2px solid #202020;
    box-sizing: border-box;
    cursor: pointer;
    
    display: inline-block;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}
.maplocation:hover {border-color: #FFF;}

.maplocation.unavailable {background: #E61919;}
.maplocation.available {background: #339933;}
.maplocation.mixed {background: #998033;}
.maplocation.collected {background: #808080;}

.maplocation.small {width: 16px; height: 16px; border-width: 1px;}
.maplocation.small .tooltip {top: -4px;}

#map {
    background-image: url("map.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 5px solid #777;
    position: relative;
    width: 825px;
    height: 466px;
    left: 0px;
    display: inline-block;
}
#map.below {display: block; margin: 0;}
#map.margin {display: block; margin: 0 auto;}
#map.none {display: none;}

#map-side {
    background-color: black;
    position: absolute;
    width: 240px;
    height: 250px;
    bottom: 0;
}

#map-locations {width: 100%; height: 100%; position: relative; top: -10px; left: -10px;}
#map-side p {margin: 5px; text-align: center;}
#map-side hr {height: 2px; border: 0; background: #FFF; margin: 3px 10px;}
#map-side-title {font-size: 18px; font-weight: bold;}
#map-side-list {margin-top: 4px; margin-bottom: 4px; overflow-y: auto; height: 210px; list-style: square; padding-left: 35px;}
#map-side-list li {cursor: pointer;}
#map-side-list li:hover {text-decoration: underline;}

li.unavailable, p.unavailable {color: #E61919;}
p.mixed {color: #998033;}
li.available, p.available {color: #339933;}
li.collected, p.collected {color: #808080;}

li.collected {list-style: none;}
li.collected::before {content: url("checkmark.png"); margin-left: -22px; padding-right: 6px; position: relative; top: 2px;}

/* TOOLTIP */

.maplocation .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    pointer-events: none;
}

.maplocation .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.maplocation:hover .tooltiptext {
    visibility: visible;
}

/* MOBILE AND SMALLER SCREENS */

@media all and (max-width: 640px) {
    #itemtable, #itemsidetable {zoom: 0.75;}
}

@media all and (max-width: 500px) {
    #itemtable, #itemsidetable {zoom: 0.5;}
}